
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top: 30px">
  		<rd-widget>
  			<rd-widget-body>
          <div class="container-fluid">
            <div class="row" style="border: 1px solid #ccc; margin-bottom: 35px">
              <div class="col-xs-12 col-md-4">
                  <img class="img-responsive" src="img/home_pic.jpg" alt="">
              </div>
              <div class="col-xs-12 col-md-8" >
                  <div class="row">
                      <div class="col-xs-12 text-center">
                          <h3>About Us</h3>
                      </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sem ac ex placerat dapibus sed vitae dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec egestas justo ut massa tempus pulvinar sed vel odio. Suspendisse id nibh magna. Nunc ut semper sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc ac pharetra ligula. Ut eu commodo purus. Phasellus tellus augue, bibendum nec ante ac, sagittis ultrices purus. Vestibulum vestibulum lectus et vehicula scelerisque. Aliquam iaculis sem eget nisl fringilla iaculis. Suspendisse potenti. Phasellus diam mi, pellentesque tincidunt augue vitae, congue interdum sapien. Proin quis metus varius, efficitur eros eget, dictum neque. Aenean ac tincidunt nunc, sit amet finibus eros. Integer tempus dolor consectetur vehicula pulvinar.</p>
              </div>
            </div>
            <div class="row" style="border: 1px solid #ccc;">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>Our Mission</h3>
                    </div>
                  </div>
                    <p>Donec sed arcu purus. Nullam sit amet vulputate neque. Praesent quam felis, tincidunt in hendrerit sit amet, feugiat ornare risus. Vestibulum sapien tellus, ornare in aliquam ac, fermentum non nunc. Mauris suscipit semper lacus id convallis. Sed in egestas ipsum. Praesent id porta justo. Cras commodo placerat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam varius molestie turpis eget condimentum. Maecenas a arcu eu risus malesuada semper et sed velit. Vestibulum porta dapibus nisi, ut hendrerit nisl porta at. Phasellus bibendum euismod consectetur. Integer rutrum massa vitae metus sodales, vel dictum nunc ultricies.</p>
                </div>
            </div>
          </div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  	<div class="col-lg-3 col-md-6 col-xs-6" ng-click="searchDoctor()">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon green pull-left">
  					<i class="fa fa-users"></i>
  				</div>
  				<div class="title">80</div>
  				<div class="comment">Doctors</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>

  	<div class="col-lg-3 col-md-6 col-xs-6" ng-click="searchRetailer()">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon red pull-left">
  					<i class="fa fa-tasks"></i>
  				</div>
  				<div class="title">16</div>
  				<div class="comment">Retailers</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  	<div class="col-lg-3 col-md-6 col-xs-6" ng-click="searchMedicine()">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon orange pull-left" >
  					<i class="fa fa-sitemap"></i>
  				</div>
  				<div class="title">225</div>
  				<div class="comment">Medicines</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
  	<div class="col-lg-3 col-md-6 col-xs-6" ng-click="searchLocation()">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon blue pull-left">
  					<i class="fa fa-support"></i>
  				</div>
  				<div class="title">62</div>
  				<div class="comment">Locations</div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>

    <div class="col-lg-12 col-md-12 col-xs-12" ng-show="showDoctor"id="search_doctor">
      <rd-widget >
  			<rd-widget-body>

          <div class="title">Search Doctor</div>
          <div class="comment">
            <input class="form-control" type="text" ng-model="doctor_query">
          </div>
          <div class="doctor_detail_wrapper" style="margin-top:16px;padding:4px 0px;
          max-height:400px;min-height:400px;overflow-y:auto;border:1px solid black">

            <div class="doctor_detail" ng-repeat="d in doctors | filter : doctor_query">
              <div class="row">
                <div class="col-lg-2 col-md-4 col-xs-12">
                    <img class="img-responsive" src="img/home_pic.jpg" alt="">
                </div>
                <div class="col-lg-10 col-md-8 col-xs-12" style="padding:8px;">
                    <p>Name:{{d.name}}</p>
                    <p>Department:{{d.department}}</p>
                </div>
              </div>
            </div>

          </div>

        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12" ng-show="showRetailer" id="search_retailer">
      <rd-widget>
  			<rd-widget-body>
          <div class="title">Search Retailer</div>
          <div class="comment">
            <input class="form-control" type="text" ng-model="retailer_query">
          </div>
          <div class="doctor_detail_wrapper" style="margin-top:16px;padding:4px 0px;
          max-height:400px;min-height:400px;overflow-y:auto;border:1px solid black">

            <div class="doctor_detail" ng-repeat="r in retailers | filter : retailer_query">
              <div class="row">
                <div class="col-lg-2 col-md-4 col-xs-12">
                    <img class="img-responsive" src="img/home_pic.jpg" alt="">
                </div>
                <div class="col-lg-10 col-md-8 col-xs-12">
                    <p>Name:{{r.name}}</p>
                    <!-- <p>Gid:{{r.gid}}</p> -->
                    <p>Address: {{r.address.city}}, {{r.address.state}} ,{{r.address.pincode}}
                    </p>
                </div>
              </div>
            </div>

          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12" ng-show="showMedicine" id="search_medicine">
      <rd-widget>
  			<rd-widget-body>
          <div class="title">Search Medicine</div>
          <div class="comment">
            <input class="form-control" type="text" ng-model="medicine_query">
          </div>
          <div class="doctor_detail_wrapper" style="margin-top:16px;padding:4px 0px;
          max-height:400px;min-height:400px;overflow-y:auto;border:1px solid black">

            <div class="doctor_detail" ng-repeat="m in medicines | filter : medicine_query">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <img class="img-responsive" src="img/home_pic.jpg" alt="">
                </div>
                <div class="col-lg-9 col-md-6 col-xs-12">
                    <p>Name:{{m.name}}</p>
                    <!-- <p>Department:{{d.department}}</p> -->
                </div>
              </div>
            </div>

          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12" ng-show="showLocation" id="search_location">
      <rd-widget>
  			<rd-widget-body>
          <div class="title">Search By location</div>
          <div class="comment">
            <input class="form-control" type="text" ng-model="location_query">
          </div>
          <div class="doctor_detail_wrapper" style="margin-top:16px;padding:4px 0px;
          max-height:400px;min-height:400px;overflow-y:auto;border:1px solid black">

            <div class="doctor_detail" ng-repeat="l in locations | filter : location_query">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <img class="img-responsive" src="img/home_pic.jpg" alt="">
                </div>
                <div class="col-lg-9 col-md-6 col-xs-12">
                    <p>Name:{{d.name}}</p>
                    <p>Department:{{d.department}}</p>
                </div>
              </div>
            </div>

          </div>
        </rd-widget-body>
      </rd-widget>
    </div>

  </div>

</div>
