<!-- Header Bar -->
<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <img src="img/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Joe Bloggs
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Profile
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="link">
            <a href="#">
              Menu Item
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Logout
            </a>
          </li>
        </ul>
      </div>
      <div class="item dropdown" uib-dropdown>
       <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-bell-o"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            Notifications
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Server Down!</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        Dashboard
      </div>
      <div class="breadcrumb-links">
        Home / Dashboard
      </div>
    </div>
  </div>
</div>
<!-- End Header Bar -->


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon green pull-left">
            <i class="fa fa-users"></i>
          </div>
          <div class="title">Appointment</div>
          <div class="comment">Book an appointment to any of our Doctors.</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon red pull-left">
            <i class="fa fa-tasks"></i>
          </div>
          <div class="title">Medicines</div>
          <div class="comment">Contact our reatilers for medicines.</div>
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon orange pull-left">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="title">Pathology</div>
          <div class="comment">Contact our patho labs for pathology reports.</div>
        </rd-widget-body>
      </rd-widget>
    </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <img class="img-responsive" src="img/home_pic.jpg">
        </rd-widget-body>
      </rd-widget>
    </div>
    <div class="col-lg-9 col-md-6 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <p> Name : </p>
          <p> Email : </p>
          <p> Address : </p>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                    <li ng-class="{'active': view_tab == 'tab1'}">
                        <a class="btn-lg" ng-click="changeTab('tab1')" href="">My Tab 1</a>
                    </li>
                    <li ng-class="{'active': view_tab == 'tab2'}">
                        <a class="btn-lg" ng-click="changeTab('tab2')" href="">My Tab 2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane" ng-show="view_tab == 'tab1'">
                        This is tab 1 content
                    </div>
                    <div class="tab-pane" ng-show="view_tab == 'tab2'">
                        This is tab 2 content
                    </div>
                </div>
            </div>
        </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>

