<ul class="sidebar">
  <li class="sidebar-main">
    <a ng-click="toggleSidebar()">
      Navigation
      <span class="menu-icon glyphicon glyphicon-transfer"></span>
    </a>
  </li>
  <!-- <li class="sidebar-title"><span>NAVIGATION</span></li> -->
  <li class="sidebar-list">
    <a href="#">Home<span class="menu-icon fa fa-home"></span></a>
  </li>
  <li class="sidebar-list">
    <a href="">Profile <span class="menu-icon fa fa-user"></span></a>
    <ul style="list-style-type:none" class="sidebar-title">
      <li class="user_type">
        <a href="#/patient">Patient</a>
      </li>
      <li class="user_type">
        <a href="#/doctor">Doctor</a>
      </li>
      <li class="user_type">
        <a href="#/retailer">Retailer</a>
      </li>
    </ul>
  </li>
  <li class="sidebar-list">
    <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
  </li>
</ul>
<div class="sidebar-footer">
  <div class="col-xs-4">
    <a href="#" target="_blank">
      Facebook
    </a>
  </div>
  <div class="col-xs-4">
    <a href="#" target="_blank">
      About<header>
    </header>

    </a>
  </div>
  <div class="col-xs-4">
    <a href="#">
      Support
    </a>
  </div>
</div>
